.nav-wrapper {
	background-image: url("./images/movie-night-inside-header.jpg");
}

.startBtn {
	color: #b71c1c red darken-4;
	align-content: inherit;
}

nav {
	background: none;
	border: none;
}

h1 {
	bottom: 100px;
	color: white;
}

body {
	background-image: url("./images/chicago-theatre.jpg");
	background: contain;
}

#cinemaOutput {
	align-items: center;
	display: flex;
}

.card-body img {
    height: 100%;
	width: auto;
	object-fit: cover;
	object-position: 100% 0;
	width: 190px;
	height: 290px;
}

.card-title {
	color: white;
	font-size: 14px;
	height: 30px;
	line-height: 1;
}

.card {
	border: solid 5px black;
	padding: 10px;
	margin: auto 0;
	
}

.cinemaCard {
	background-color: crimson;
}

.movieCard {
	background-color: #546e7a;
}

#ten-card-deck {
    display: flex;
	flex-wrap: wrap;
}
.card-title {
 min-height: 3rem;
}

#ten-card-deck>* {
    flex: 1 1 80px;
}

.card-body img {
height: 100%;
width: auto;
}

.img {
	object-fit: cover;
	width: 200px;
	height: 300px;
	object-position: 100% 0%;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #546e7a;
	color: white;
	text-align: center;
	text-shadow: ivory;
	text-size-adjust: 15px;
}

