.jumbotron {
    text-align: center;
    background-color:  rgb(190, 21, 21);
    color: white;
    border-radius: 0;
    border-bottom: 3px solid black;
    font-family: Arial, Helvetica, sans-serif;
    }

h1 {
  text-align: center;
}

.row {
  border-radius: 10px;
  color: white;
  text-align: center;
}

body {
    background-image: url("/Images/embossed-diamond.png");
}